<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slshop.cart.CartMapper">

	<resultMap id="cartMap"
		type="com.slshop.common.entity.CartItem">
		<id column="ID" property="id" />
		<result column="QUANTITY" property="quantity" />
	</resultMap>
	<select id="findAll" resultMap="cartMap">
		SELECT * FROM CART_ITEMS
	</select>

</mapper>